// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations

// NOTE: custom animations
// 2nd one overrides the first one. but only the animations that it has.

include "./niri-animation-collection/myAnimations/dither-glitch-resize.kdl"
include "./niri-animation-collection/animations/dither-glitch.kdl"

animations {
    slowdown 0.8

    window-movement {
        duration-ms 120
        curve "cubic-bezier" 0.1 0.9 0.9 0.1
    }

    horizontal-view-movement { spring damping-ratio=0.9 stiffness=2200 epsilon=0.0001; }
    workspace-switch { spring damping-ratio=0.9 stiffness=2200 epsilon=0.0001; }

    config-notification-open-close { duration-ms 150; curve "ease-out-cubic"; }
    screenshot-ui-open { duration-ms 150; curve "ease-out-quad"; }

    overview-open-close {
        duration-ms 300
        curve "cubic-bezier" 0.1 1.0 0.2 1.0
    }


}
